.box {
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-radius: 10px;
}

.white_background {
    background: rgb(223, 221, 221);
}

.gray_background {
    background: rgb(86, 83, 83);
}

.box:hover {
    background-color: yellow;
}