.game_board {
    display: grid;
    grid-template-rows: 65px 65px 65px 65px 65px 65px 65px 65px 65px;
    grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-radius: 50px;
}